


/* Adding Oswald font from Google. Changing font color to black and weight to bold. Giving the whole background a light blue color  */
body{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: black;
    background-color: rgb(92, 165, 233);
    z-index: -1;
}

/* changing color of anchor tags to black and removing text decoration  */
a {
    color: black;
    text-decoration: none;
}

/* Making the navbar a flexbox and floating to the right. Increasing font size  */
nav{
    display: flex;
    position: relative;
    background-color: rgb(109, 109, 109);
    font-size: 55px;
    margin: 15px;
    border: 5px double black;
    border-radius: 5%;
    max-width: 285px;
}

/* Making article box for client intro. Setting radius, and font size/weight */
article{
    background-color: rgb(143, 148, 146);
    border: 5px double black;
    padding: 20px;
    font-weight: 400;
    font-size: 36;
    max-width: 400px;
    max-height: 100px;
    border-radius: 5%;
}

/* making grid */
.grid{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    background-image: url(https://imgix.ranker.com/user_node_img/50066/1001315122/original/attempted-murder-of-friend-photo-u1?w=650&q=50&fm=jpg&fit=crop&crop=faces);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/* Adding background image to absolute top left. Making background image see through.  */
#dalifilter {
    background-color: rgb(92, 165, 233);
    width: 100vw;
    height: 100vh;
    position: fixed;
    opacity: .4;
}

/* Styling link buttons in navbar, background color, border, and text alignment */
.box{
    background-color: rgb(174, 175, 174);
    border: 5px solid rgb(109, 109, 109);
    text-align: center;
    padding: 10px;
    border-radius: 25%;
    margin: 10px;
}

/* Adding image for profile link and styling border */
.nestorp {
    background-image: url(nestorp.jpg);
    list-style-type: none;
    border: 5px double rgb(109, 109, 109);
    border-radius: 10%;
}

/* Changing display and margin on Profile link only */
.nestorp a:before {
    display: inline;
    margin-right: 50px;
}

/* Styling the navbar ul border */
.pages{
    list-style-type: none;
    border-radius: 5%; 
    padding: 10px;
}

 /* creating color change of font to sand and background to dark gray on hover. Adding pointer curser. Rotating links  */
 .pages li:hover a, .pages li:hover {
    color: rgb(206, 171, 125);
    cursor: pointer;
    background-color: rgb(82, 80, 80);
    transform: rotate(90deg);
}

/* Using image to link to email. Animating that image.  */
.email{
    background-image: url(mail.jpg);
    max-width: 200px;
    max-height: 130px;
    animation: 1s;
    font-size: 110px;
    animation-direction: alternate;
    margin: 10px;
}

/* Media Queries for navbar overlap. Going from two columns to one*/
@media screen and (max-width: 600px) {
    .grid{
        grid-template-columns: 1fr;
    }
}

/*making the word mail clear to only see image*/
#clear{
    opacity: 0;
} 

/* Adding cursor pointer on hover */
.email:hover{
    cursor: pointer;
    animation: flipout 1s infinite;
}

/* Adding Keyframes for animation of email link */
@keyframes flipout{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(90deg);
    }
}